.page_container {
  min-height: 100vh;
}

.references_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

@media (min-width:1600px) {
  .page_container {
    max-width: 1300px;
  }
}
