.portfolio_item_container {
  width: 100%;
  margin: 0;
  border: 1px solid var(--text-black);
  color: var(--text-black);
  border-radius: 18px;
}

.image_container {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 18px 18px 0 0;
  overflow: hidden;
}

.project_image {
  object-fit: cover;
  object-position: center;
}

.info_container {
  width: 100%;
  padding: 20px;
}

.headline_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.project_name {
  font-style: normal;
  font-weight: bold;
  margin: 0;
  font-size: 2rem;
}

.portfolio_item_container p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.technologies_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}


@media (min-width: 1000px) {
  .portfolio_item_container {
    width: calc(100% / 2 - 40px);
  }
}


@media (min-width: 1200px) {

  .portfolio_item_container:hover {
    scale: 1.01;
    cursor: pointer;
  }
}

@media (min-width: 1500px) {

  .portfolio_item_container {
    width: calc(100% / 3 - 40px);
  }

}
