.item_wrapper {
  width: 100%;
  max-width: 450px;
  margin: 0;
  border: 1px solid var(--text-black);
  border-radius: 18px;
  padding: 20px;
}

.reference_item_headline {
  font-size: 1.6rem;
  margin-bottom: 15px;
  line-height: 35px;
  padding: 0 20px;
}

.name {
  font-style: normal;
  font-weight: bold;
}

.info_wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 50px;
}

.links_wrapper {
  display: flex;
  margin: 0;
  gap: 10px;
}

.item_wrapper p {
  position: relative;
  z-index: 0;
  padding: 0 5px;
  margin-bottom: 20px;
}

.brackets_bottom {
  margin: 0 15px 10px 0;
}

.brackets_top {
  position: absolute;
  z-index: 0;
  right: 0;
  margin: 15px 0 0 10px;
}

@media (min-width:1400px) {
  .item_wrapper {
    max-width: 420px;
  }
}
