.page_container {
  min-height: 100vh;
}

.loading_container {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.back_to_projects_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 37px;
  margin-bottom: 20px;
}

.headline_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}

.project_name {
  max-width: 900px;
}

.error_back_button {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {

  .headline_container {
    flex-direction: row;
    border-bottom: 1px solid var(--text-black);
  }
}

@media (min-width:1600px) {
  .page_container {
    max-width: 1300px;
  }
}
