:root {
  --sunrise-purple: #845ec2;
  --sunrise-pink: #d65db1;
  --sunrise-salmon: #ff6f91;
  --sunrise-orange: #ff9671;
  --sunrise-yellow: #ffc75f;
  --sunrise-lemon: #f9f871;

  --gradient-sunrise: linear-gradient(45deg,
      var(--sunrise-purple),
      var(--sunrise-pink),
      var(--sunrise-salmon),
      var(--sunrise-orange),
      var(--sunrise-yellow),
      var(--sunrise-lemon));
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}
