:root {
  /* lightmode gradients */

  --sunrise-purple: #845ec2;
  --sunrise-pink: #d65db1;
  --sunrise-salmon: #ff6f91;
  --sunrise-orange: #ff9671;
  --sunrise-yellow: #ffc75f;
  --sunrise-lemon: #f9f871;

  --gradient-sunrise: linear-gradient(45deg,
      var(--sunrise-purple),
      var(--sunrise-pink),
      var(--sunrise-salmon),
      var(--sunrise-orange),
      var(--sunrise-yellow),
      var(--sunrise-lemon));

  --day-carribean: #3BCFD4;
  --day-turquoise: #62C3AB;
  --day-sage: #88B781;
  --day-olive: #AFAB58;
  --day-mustard: #D59F2E;
  --day-orange: #FC9305;

  --gradient-day: linear-gradient(45deg,
      var(--day-carribean),
      var(--day-turquoise),
      var(--day-sage),
      var(--day-olive),
      var(--day-mustard),
      var(--day-orange));

  /* darkmode gradients */

  --sunset-purple: #5F0F40;
  --sunset-red: #9A031E;
  --sunset-yellow: #FB8B24;
  --sunset-orange: #E36414;
  --sunset-sea: #0F4C5C;
  --sunset-blue: #092d36;

  --gradient-sunset: linear-gradient(45deg,
      var(--sunset-purple),
      var(--sunset-red),
      var(--sunset-yellow),
      var(--sunset-orange),
      var(--sunset-sea),
      var(--sunset-blue));

  --night-blue: #0E1331;
  --night-plum: #160F31;
  --night-purple: #1E0B31;
  --night-violet: #260832;
  --night-aubegine: #2E0432;
  --night-grape: #360032;

  --gradient-night: linear-gradient(45deg,
      var(--night-blue),
      var(--night-plum),
      var(--night-purple),
      var(--night-violet),
      var(--night-aubegine),
      var(--night-grape));

  /* background colors */

  --background-black: #000000e5;
  --background-transparent: transparent;
  --background-milky: #ffffff1c;

  /* text colors */

  --text-black: black;
  --text-link: #9B1B90;
  --text-transparent: transparent;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background-color: var(--background-black);
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 0 10vw;
  min-height: 100%;
}

.color-mesh-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  background-position: center;
  background-size: cover;
  background-image: var(--gradient-day);
}

.content-container {
  position: relative;
  top: 100px;
  width: 100%;
  height: 100%;
}

.mesh-point {
  width: 50%;
  height: 50vh;
  border-radius: 50%;
  background-image: var(--gradient-sunrise);
  filter: blur(140px);
}

.mesh-point-reversed {
  transform: rotate(180deg);
}

h1 {
  font-family: var(--font-poppins);
  font-size: 3.2rem;
  text-align: left;
  color: var(--text-transparent);
  -webkit-text-stroke: 2.5px var(--text-black);
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  line-height: 35px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 50px;
  font-style: italic;
  max-width: 800px;
}

h1,
h2 {
  cursor: default;
}

p {
  font-size: 1.3rem;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
  max-width: 566px;
}


.link_text {
  color: var(--text-link);
  font-style: italic;
  letter-spacing: 1.4px;
}


@media(min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) {
  .hover:hover {
    scale: 1.05;
  }

}

@media (min-width: 1400px) {
  h1 {
    font-size: 6rem;
  }

}

@media (min-width: 1600px) {
  h1 {
    font-size: 7.8rem;
  }

}
