.page_container {
  display: flex;
  flex-direction: column;
}

.links_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.image_wrapper {
  position: relative;
  width: 100vw;
  height: 50vh;
  margin-left: -10vw;
  background-color: transparent;
  z-index: 0;
}

.michaela_image {
  object-fit: cover;
  object-position: center;
  margin-top: 20px;
}
