.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
}

.nav {
  position: absolute;
  margin-top: 100px;
  z-index: 1;
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-black);
  padding-top: 20px;
}

.header_link_item {
  width: 100%;
  height: calc((100vh - 250px)/6);
  display: flex;
  align-items: center;
}

.header_link {
  font-size: 2rem;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  background-image: var(--gradient-day);
  background-clip: text;
  color: transparent;
  font-family: var(--font-poppins)
}

li:has(.active) {
  border-bottom: 0.5px solid white;
  width: 60%;
}

.burgermenu_wrapper {
  height: 100px;
  width: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
